<!DOCTYPE HTML>
<html>
  <head>
    <title>CapCoin - Home Page</title>
  </head>
  <body>
    <h1>CapCoin</h1>
    <a href="/wallet">Web Wallet</a>
    <p>Capcoin is a crytpocurrency designed for very low fees and fast confirmations. This is not like other cryptocurrencys. This is faster better and simpler.</p>
    <input type="text" id="address" placeholder="CAP Address">
    <button onclick="send()">Mine CAP</button>
    <button onclick="addresslookup()">Lookup Address</button>
    <br>
    <textarea style="width: 600px; height: 400px;" id="result"></textarea>
    <script>
      localStorage.balance="";
      function get(theUrl) {
        let xmlHttpReq = new XMLHttpRequest();
        xmlHttpReq.open("GET", theUrl,false); 
        xmlHttpReq.send();
        return JSON.parse(xmlHttpReq.responseText);
      };
      function send(){
        var result = document.getElementById("result");
        var address=document.getElementById("address").value;
        url="/mine?address="+address;
        pooldata=get(url);
        poolmsg=pooldata.msg;
        miner_payout=pooldata.minerpayouts;
        pool_pay_num=miner_payout.PoolNumber;
        your_luck=miner_payout.YourNumber;
        if (pooldata.rewarded){
          result.innerHTML = `\nMessage From Pool: ${poolmsg}\nPoolstats\nIn order for the miners to be paid, someones computer must guess the right number and there have to be pending rewards.\nPool Number: ${pool_pay_num}\nYour Miners Number: ${your_luck}`;
        }else{
          result.innerHTML = `\nMessage From Pool: ${poolmsg}\nPoolstats\nIn order for the miners to be paid, someones computer must guess the right number and there have to be pending rewards.\nPool Number: ${pool_pay_num}\nYour Miners Number: ${your_luck}`;
        }
        };
      function getbal(){
        var address=document.getElementById("address").value;
        let xhr = new XMLHttpRequest();
        xhr.open('GET', '/wallet/getbalance?address='+address);
        xhr.responseType = 'text';
        xhr.send();
        xhr.onload=function(){
          localStorage.balance=xhr.response;
        };
        return localStorage.balance;
      };
      function addresslookup(){
        var result = document.getElementById("result");
        var address=document.getElementById("address").value;
        url="/explore";
        var r = get(url);
        result.innerHTML="";
        txsdata=""
        found=0
        total=0
        txnfound=0
        for (i in r){
          txfound=""
          data=r[i].data
          index=r[i].index
          block_hash=data.previous_hash
          confirmed=data.confirmed
          time=data.timestamp
          proof=data.proof
          transactions=data.transactions
          for(t in transactions){
            txid=transactions[t].HASH
            txdata=transactions[t].txdata
            to=txdata.TO
            from=txdata.FROM
            amount=txdata.AMOUNT
            found+=1
            if (to==address || from==address && to!="MINER REWARDS"){
              txnfound+=1
              total+=parseFloat(amount);
              txfound+=`\n  ---Transaction In This Block---\n  From: ${from}\n  To: ${to}\n  Amount: ${amount}\n  TX ID: ${txid}\n`
              txsdata+=`==============================\nHash: ${block_hash}\n  Time Confirmed: ${time}\n  Confirmed: ${confirmed}\n`;
              txsdata+=txfound;
            }
          }
        };
        if (found>0 && txnfound>0){
          result.innerHTML=txsdata;
          getbal();
          wallet_data=`\nWallet Balance: CAP ${localStorage.balance}`;
          result.innerHTML+=wallet_data;
        }else{
          txdata="This address was not found in the blockchain";
          result.innerHTML=txsdata;
        }
      };
    </script>
  </body>
</html>