<!DOCTYPE HTML>
<html>
  <head>
    <title>CapCoin Wallet</title>
    <link rel='stylesheet' href='/static/style.css' type='text/css' media='all'>
  </head>
  <body>
    <h1>CapCoin Wallet</h1>
    <a href="/">Home</a>
    <p>You can use your capcoin here on this official website.</p>
    <div id="importwallet-data">
    <button onclick="generate()">Generate Wallet</button>
    <br>
    <input type="text" id="mnemonic-seed" placeholder="Mnemonic Seed">
    <br>
    <button onclick="importwallet()">Import Wallet</button>
    </div>
    <div id="wallet">
      <p>In the web wallet you can send capcoin and you can also view your wallet data.</p>
      <p id="fclaimr">If you dont have any cap then you can claim from the faucet for some.</p>
      <button onclick="faucetclaim()">Claim From Faucet</button>
      <div id="wallet-data">
        <input type="hidden" id="address">
        <input type="hidden" id="pub">
        <input type="hidden" id="priv">
        <div id="wallet-data-text"></div>
        <div id="send-form">
          <input id="send-to" type="text" placeholder="Send To">
          <input id="send-amount" type="text" placeholder="Amount">
          <button onclick="transaction()">Send CAP</button>
          <div id="send-result"></div>
        </div>
      </div>
    </div>
    <script>
      const wallet = document.getElementById("wallet");
      wallet.style.display="none";
      function getbal(){
        var address=document.getElementById("address").value;
        let xhr = new XMLHttpRequest();
        xhr.open('GET', '/wallet/getbalance?address='+address);
        xhr.responseType = 'text';
        xhr.send();
        xhr.onload=function(){
          localStorage.balance=xhr.response;
        };
      };
      function generate(){
        var generate = new XMLHttpRequest();
        generate.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
               document.getElementById("mnemonic-seed").value = generate.responseText;
            }
        };
        generate.open("GET", "/wallet/generate", true);
        generate.send();
      };
      function faucetclaim(){
        var claim = new XMLHttpRequest();
        var address = document.getElementById("address").value;
        claim.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
               document.getElementById("fclaimr").innerHTML = claim.responseText;
            }
        };
        claim.open("GET", "/wallet/faucetclaim?address="+address, true);
        claim.send();
      };
      function transaction(){
        var sendcap = new XMLHttpRequest();
        var to = document.getElementById("send-to").value;
        var amount = document.getElementById("send-amount").value;
        var privk=document.getElementById("priv").value;
        sendcap.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
               document.getElementById("send-result").innerHTML = sendcap.responseText;
            }
        };
        sendcap.open("GET", "/wallet/sendcap?to="+to+'&amount='+amount+'&priv='+privk, true);
        c=confirm(`Are you sure you want to send ${amount} CAP`)
        if (c==true){
          sendcap.send();
        }else{
          document.getElementById("send-result").innerHTML = "Transaction canceled.";
        }
      };
      function save(){
        var address = document.getElementById("address").value;
        var iseed = document.getElementById("mnemonic-seed").value;
        var privk=document.getElementById("priv").value;
        var pub = document.getElementById("pub").value;
        walletdata=`Wallet data for CAPCOIN. DO NOT LOSE OR SHARE THE FILES CONTENTS!!!!\nMnemonic Seed: ${iseed}`;
        var blob = new Blob([walletdata],{ type: "text/plain;charset=utf-8" });
        saveAs(blob, "capcoinwallet.txt");
      };
      function importwallet(){
        wallet.style.display='block';
        document.getElementById("importwallet-data").style.display="none";
        var importwalleth = new XMLHttpRequest();
        var iseed = document.getElementById("mnemonic-seed").value;
        importwalleth.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
               jdata=JSON.parse(importwalleth.responseText);
               address=jdata.address;
               priv=jdata.priv;
               pub=jdata.pub;
               document.getElementById("address").value=address;
               document.getElementById("pub").value=pub;
               document.getElementById("priv").value=priv;
               getbal(); 
               balance=localStorage.balance;
               wallettext=`Address: ${address}<br>Private Key: ${priv}<br>Public Key: ${pub}<br><br><h4>Balance: ${balance}</h4>`;
               document.getElementById("wallet-data-text").innerHTML = wallettext; 
               localStorage.iseed=iseed;
            }
        };
        importwalleth.open("GET", "/wallet/import?seed="+iseed, true);
        importwalleth.send();
        if (localStorage.used!="yes"){
        save()
        localStorage.used="yes";
        }
      };
      if (localStorage.used=="yes"){
        document.getElementById("mnemonic-seed").value = localStorage.iseed;
        importwallet()
      }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js" integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>
</html>